* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 20px;
    min-width: 470px;
}
  
body {
    font-family: 'Lato', sans-serif;
}
.footer {
    flex-grow: 0.5;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    background-color: #774418;
}
.header {
    flex-grow: 0.1;
    margin-bottom: 2.5rem;
}
.main {

    display: flex;
    flex-direction: column;
    min-height: fit-content;
}
#title{
    display: flex;
    align-items: center;
    margin: 0.5rem;
    flex-direction: column;
}

#name {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2rem;
    padding-bottom: 0.4rem;
    color: #283618;
}

#nav-bar {
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#nav-item {
    display: flex;
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
    width: 95vh;
    color: #BC6C25;
}

#nav-button {
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 5%;
    background-color: #15617A;
    padding: 0.1rem 0.5rem;
    color: white;
    background-color: #BC6C25;
    display: none;
}

@media (max-width: 550px) {
    #nav-button {
        display: block;
        margin-bottom: 0.5rem;
    }
    #nav-bar {
        flex-direction: column;
    }
    #nav-item {
        display: none;
    }
    #nav-item > div {
        margin: 0.2rem 0;
    }

    #nav-bar .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

#worktitle {
    font-size: 0.75rem;
    font-family: 'Source Serif Pro', serif;
    color: #606c38;
    text-align: center;
}

#quote {
    font-size: 0.6rem;
    font-family: 'Source Serif Pro', serif;
    color: #000000;

    margin-left: 12rem;
    margin-right: 12rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
    height: fit-content;
}
.container {
    /* border: 1px solid green; */
    flex-grow: 10;
    /* min-height: 150vh; */
}

#heading {
    display: flex;
    flex-direction: column;
    /* min-width: fit-content; */
    /* border: 1px solid; */
}

.header-style {
    font-size: 1rem;
    font-weight: 600;
    color: #283618;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.body-style {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    /* min-width: fit-content; */
}

.box-shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.2em 0.2em 0.5em rgba(0,0,0,1);
}
.content {
    max-width: 800px;
    margin: 0.3rem;
    font-size: 0.7rem;
    font-family: 'Source Serif Pro', serif;
    padding: 1rem;
    padding-top: 0;
    font-weight: 500;
    word-wrap: break-word;
}

.image {
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    height: 340px;
    min-width: 240px;
    margin: 0.3rem;
    /*flex-shrink: 0;*/ 
}


.social {
    /* background-color: red; */
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.hover-effect:hover {
    transform: scale(1.2);
    transition: transform ease;
}





/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


ul li {
    font-family: 'Source Serif Pro', serif;
    font-size: 0.8rem;
    padding: 5px 0px;
    word-wrap: inherit;
    text-align: justify;
}

.whitespace {
    height: 6vh;
    /* border: 3px solid; */
}
.pulsate {
    animation: pulsate 900ms ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
    color:white;
    background-color: red;
    font-weight:800;
    font-size: 0.7rem;
    max-width: fit-content;
    margin: 10px;
}


#nav-item > div:hover {
    border-bottom: 2px solid;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #606c38;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #606c38 transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
