* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    padding: 0;
    color: #606c38;
}


.container {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
}


.body-style {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
}

    
.publication {
    margin-bottom: 0.5rem;
    font-family: 'Source Serif Pro', serif;
    font-size: 0.8rem;
    color: #000000;
}
/*
.publication p {
    margin-bottom: 0.5rem;
}
*/

@media (max-width: 550px) {
    .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .header-style {
        font-size: 0.8rem;
    }

    .body-style {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
